# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\JetBrains_Academy\Error Correcting Encoder-Decoder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
